doctype html
html
  head
    meta(charset='utf-8')
  style.
    table {
      border: 1px solid #444444;
      border-collapse: collapse;
    }
    tr, td {
      border: 1px solid #444444;
    }
  body
    h1
      a(href='/home/'+user.id) Home
    h2
      a(href='/member') Member
    artcle
      h2= 'Delete username '+member.username+'?'
      form(action='/member/'+member.id+'/delete' method='post')
        p
          input(type='submit' value='YES')
      a(href='/member/') NO
