doctype html
html
  head
    meta(charset='utf-8')
  style.
    table {
      border: 1px solid #444444;
      border-collapse: collapse;
    }
    tr, td {
      border: 1px solid #444444;
    }
  body
    h1
      a(href='/home/'+user.id) Home
    h2
      a(href='/team') 팀 목록
    artcle
      h2= 'Delete team '+team.teamname+'?'
      form(action='/team/'+team.teamid+'/delete' method='post')
        p
          input(type='submit' value='YES')
      a(href='/team/') NO
