doctype html
html
  head
    meta(charset='utf-8')
  body
    h1
      a(href='/home/'+user.id) Home
    table(border='1')
      tr
        td
          =user.name
    div
      a(href='/logout/'+user.id) logout
    div Menu
    ul
    if user.user_level > 3
      li
        a(href='/member') 멤버 관리
    li
      a(href='/team') 팀 목록
    li
      a(href='/topic') 게시판
    li
      a(href='/study') 스터디 검색
    if user.user_level>2
      li
        a(href='/lecture') 내가 개설한 스터디
    li
      a(href='/take') 내 신청 스터디
