doctype html
html
  head
    meta(charset='utf-8')
  style.
    table {
      border: 1px solid #444444;
      border-collapse: collapse;
    }
    tr, td {
      border: 1px solid #444444;
    }
  body
    h1
      a(href='/home/'+user.id) Home
    h2
      a(href='/study') 스터디 검색
    artcle
      h2= 'Join '+study.title+' Study?'
      form(action='/study/'+study.studyid+'/join' method='post')
        p
          input(type='submit' value='YES')
        a(href='/study/'+study.studyid) NO
